<h1 style="text-align:center;">
	<strong><span style="color:#000000;font-family:&quot;font-size:32px;line-height:1;">巴西经济数据</span></strong> 
</h1>
<h1 style="text-align:center;">
	<strong><span style="font-family:&quot;font-size:16px;"><span style="line-height:1;font-size:16px;"><em>第1期</em></span></span></strong>
</h1>

In [1]:

import datetime 
date = datetime.datetime.now()
print '驻圣保罗总领馆经商室' + ' ' * 80 + ' 日期：' + datetime.datetime.now().strftime('%Y-%m-%d')

驻圣保罗总领馆经商室                                                                                 日期：2016-09-23

In [1]:
print '=' * 120

========================================================================================================================

In [4]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt 
import datetime
from datetime import datetime, timedelta
from dateutil.parser import parse
import urllib 
from urllib import urlretrieve
import warnings; warnings.simplefilter('ignore') 
%matplotlib inline

In [127]:
print '一、国内生产总值（单位：百万雷亚尔,当前价格)'
url1 = 'http://www.sidra.ibge.gov.br/api/values'
url2 = '/t/1846/n1/1/c11255/all/p/last12/v/585/d/s/f/n/h/y'
url = url1 + url2
data = pd.read_json(url)
data_nmrc = data.convert_objects(convert_numeric=True) #转换数据为数字
import re
dic01 = {'1':3, '2':6, '3':9, '4':12 }
for i, j in dic01.iteritems():
     if i in data_nmrc['D3N'][1][0]:
         month_bgn = str(j)
year_bgn = str(data_nmrc['D3N'][1][13:17])
startdate = year_bgn + '-' + month_bgn
prdrg = pd.period_range(startdate, periods=12, freq='3M')
data_comp = DataFrame(np.random.standard_normal((12,4)), 
                      columns=('国内生产总值','工业','农业','服务业'), 
                      index = prdrg) 
data_comp['国内生产总值'] = data_nmrc['V'][193:205]

'''
import matplotlib.font_manager as fm
myfont = fm.FontProperties(fname='C:/Windows/Fonts/simkai.ttf')
plt.figure(figsize=(10, 6))
plt.plot(data_nmrc['V'][1:5], 'r' )
plt.xlabel('time')
plt.ylabel('production')
plt.title('brazil', fontproperties=myfont)
plt.grid(True)
'''

一、国内生产总值（单位：百万雷亚尔,当前价格)

"\nimport matplotlib.font_manager as fm\nmyfont = fm.FontProperties(fname='C:/Windows/Fonts/simkai.ttf')\nplt.figure(figsize=(10, 6))\nplt.plot(data_nmrc['V'][1:5], 'r' )\nplt.xlabel('time')\nplt.ylabel('production')\nplt.title('brazil', fontproperties=myfont)\nplt.grid(True)\n"

In [123]:
data_comp

         国内生产总值        工业        农业       服务业
2013-09     NaN  1.621751 -0.753541  0.175584
2013-12     NaN -0.287433 -1.635886 -0.998567
2014-03     NaN -1.052437  0.632718 -1.850977
2014-06     NaN  0.471406 -1.316485 -1.165238
2014-09     NaN  1.151962  0.176988 -1.200731
2014-12     NaN -1.043397  0.154416  1.217961
2015-03     NaN  0.151669  0.704988  1.088130
2015-06     NaN -0.413572 -0.777773 -0.990176
2015-09     NaN -1.644517  0.185161  1.290170
2015-12     NaN  0.207220 -0.267710 -0.727725
2016-03     NaN -0.083980 -0.092388  0.044014
2016-06     NaN -1.325595 -1.602637 -0.265589

In [115]:
data_nmrc['V'][193:205]

193    1350088.0
194    1405412.0
195    1368454.0
196    1400631.0
197    1435568.0
198    1482657.0
199    1434823.0
200    1456502.0
201    1481380.0
202    1531627.0
203    1473837.0
204    1530413.0
Name: V, dtype: float64

In [106]:
data_nmrc[180:220]

,D1N,D2N,D3N,D4N,MN,V
180,Brasil,Valor adicionado a preços básicos,2º trimestre 2016,Valores a preços correntes,Milhões de Reais,1318088.0
181,Brasil,Impostos líquidos sobre produtos,3º trimestre 2013,Valores a preços correntes,Milhões de Reais,190557.0
182,Brasil,Impostos líquidos sobre produtos,4º trimestre 2013,Valores a preços correntes,Milhões de Reais,214666.0
183,Brasil,Impostos líquidos sobre produtos,1º trimestre 2014,Valores a preços correntes,Milhões de Reais,196620.0
184,Brasil,Impostos líquidos sobre produtos,2º trimestre 2014,Valores a preços correntes,Milhões de Reais,196410.0
185,Brasil,Impostos líquidos sobre produtos,3º trimestre 2014,Valores a preços correntes,Milhões de Reais,195553.0
186,Brasil,Impostos líquidos sobre produtos,4º trimestre 2014,Valores a preços correntes,Milhões de Reais,220791.0
187,Brasil,Impostos líquidos sobre produtos,1º trimestre 2015,Valores a preços correntes,Milhões de Reais,207642.0
188,Brasil,Impostos líquidos sobre produtos,2º trimestre 2015,Valores a preços correntes,Milhões de Reais,209149.0
189,Brasil,Impostos líquidos sobre produtos,3º trimestre 2015,Valores a preços correntes,Milhões de Reais,214184.0
190,Brasil,Impostos líquidos sobre produtos,4º trimestre 2015,Valores a preços correntes,Milhões de Reais,217988.0
191,Brasil,Impostos líquidos sobre produtos,1º trimestre 2016,Valores a preços correntes,Milhões de Reais,213737.0
192,Brasil,Impostos líquidos sobre produtos,2º trimestre 2016,Valores a preços correntes,Milhões de Reais,212325.0
193,Brasil,PIB a preços de mercado,3º trimestre 2013,Valores a preços correntes,Milhões de Reais,1350088.0
194,Brasil,PIB a preços de mercado,4º trimestre 2013,Valores a preços correntes,Milhões de Reais,1405412.0
195,Brasil,PIB a preços de mercado,1º trimestre 2014,Valores a preços correntes,Milhões de Reais,1368454.0
196,Brasil,PIB a preços de mercado,2º trimestre 2014,Valores a preços correntes,Milhões de Reais,1400631.0
197,Brasil,PIB a preços de mercado,3º trimestre 2014,Valores a preços correntes,Milhões de Reais,1435568.0
198,Brasil,PIB a preços de mercado,4º trimestre 2014,Valores a preços correntes,Milhões de Reais,1482657.0
199,Brasil,PIB a preços de mercado,1º trimestre 2015,Valores a preços correntes,Milhões de Reais,1434823.0
200,Brasil,PIB a preços de mercado,2º trimestre 2015,Valores a preços correntes,Milhões de Reais,1456502.0
201,Brasil,PIB a preços de mercado,3º trimestre 2015,Valores a preços correntes,Milhões de Reais,1481380.0
202,Brasil,PIB a preços de mercado,4º trimestre 2015,Valores a preços correntes,Milhões de Reais,1531627.0
203,Brasil,PIB a preços de mercado,1º trimestre 2016,Valores a preços correntes,Milhões de Reais,1473837.0
204,Brasil,PIB a preços de mercado,2º trimestre 2016,Valores a preços correntes,Milhões de Reais,1530413.0
205,Brasil,Despesa de consumo das famílias,3º trimestre 2013,Valores a preços correntes,Milhões de Reais,829289.0
206,Brasil,Despesa de consumo das famílias,4º trimestre 2013,Valores a preços correntes,Milhões de Reais,866284.0
207,Brasil,Despesa de consumo das famílias,1º trimestre 2014,Valores a preços correntes,Milhões de Reais,854115.0
208,Brasil,Despesa de consumo das famílias,2º trimestre 2014,Valores a preços correntes,Milhões de Reais,865640.0
209,Brasil,Despesa de consumo das famílias,3º trimestre 2014,Valores a preços correntes,Milhões de Reais,887872.0
210,Brasil,Despesa de consumo das famílias,4º trimestre 2014,Valores a preços correntes,Milhões de Reais,939801.0
211,Brasil,Despesa de consumo das famílias,1º trimestre 2015,Valores a preços correntes,Milhões de Reais,912123.0
212,Brasil,Despesa de consumo das famílias,2º trimestre 2015,Valores a preços correntes,Milhões de Reais,915771.0
213,Brasil,Despesa de consumo das famílias,3º trimestre 2015,Valores a preços correntes,Milhões de Reais,937195.0
214,Brasil,Despesa de consumo das famílias,4º trimestre 2015,Valores a preços correntes,Milhões de Reais,976767.0
215,Brasil,Despesa de consumo das famílias,1º trimestre 2016,Valores a preços correntes,Milhões de Reais,946616.0
216,Brasil,Despesa de consumo das famílias,2º trimestre 2016,Valores a preços correntes,Milhões de Reais,959971.0
217,Brasil,Despesa de consumo da administração pública,3º trimestre 2013,Valores a preços correntes,Milhões de Reais,244489.0
218,Brasil,Despesa de consumo da administração pública,4º trimestre 2013,Valores a preços correntes,Milhões de Reais,301468.0
219,Brasil,Despesa de consumo da administração pública,1º trimestre 2014,Valores a preços correntes,Milhões de Reais,245319.0

In [166]:
text = str(data_nmrc['D3N'])
dic = {'2\xc2\xba trimestre':'2nd quarter', 'Trimestre':'quarter'}
def replace_all(text, dic):
    for i, j in dic.iteritems():
        text = text.replace(i, j)
    return text
replace_all(text,dic)

'0             quarter\n1     2nd quarter 2016\n2     2nd quarter 2016\n3     2nd quarter 2016\n4     2nd quarter 2016\n5     2nd quarter 2016\n6     2nd quarter 2016\n7     2nd quarter 2016\n8     2nd quarter 2016\n9     2nd quarter 2016\n10    2nd quarter 2016\n11    2nd quarter 2016\n12    2nd quarter 2016\n13    2nd quarter 2016\n14    2nd quarter 2016\n15    2nd quarter 2016\n16    2nd quarter 2016\n17    2nd quarter 2016\n18    2nd quarter 2016\n19    2nd quarter 2016\n20    2nd quarter 2016\n21    2nd quarter 2016\n22    2nd quarter 2016\n23    2nd quarter 2016\nName: D3N, dtype: object'

In [167]:
import dateutil #引入时间解析库
from dateutil.parser import parse
import locale
dateutil.parser.parse(' 2nd quarter 2016', fuzzy=True, )

datetime.datetime(2016, 2, 24, 0, 0)

In [58]:
dateutil.parser.parse?

In [101]:
def convert(s):
    t = datetime.strptime(s, '%Q\xba trimestre %Y') #2\xba trimestre 2016
    return timedelta(quarter=t.quarter, year=t.year)

data_nmrc.applymap(convert)


'''
def convert(s):
             t = datetime.strptime(s, "%H:%M")
             return timedelta(hours=t.hour, minutes=t.minute)

In [87]: df = pd.DataFrame({'A':[u'22:15', u'19:43']})
'''

ValueError: ("'Q' is a bad directive in format '%Q\xba trimestre %Y'", u'occurred at index D1N')

In [129]:
data_nmrc['D3N'][5]

u'2\xba trimestre 2016'

In [110]:
types = data_nmrc.apply(lambda x: pd.lib.infer_dtype(x.values))
types[types=='unicode']

D2N    unicode
D3N    unicode
D4N    unicode
MN     unicode
dtype: object

In [53]:
for col in types[types=='unicode']:
    data_nmrc[col] = data_nmrc[col].astype(str)
data_nmrc.apply(lambda x: pd.lib.infer_dtype(x.values))

D1N         unicode
D2N         unicode
D3N         unicode
D4N         unicode
MN          unicode
V          floating
unicode      string
dtype: object

In [13]:
pd.Period(data['D3N'],'%Qº trimestre %Y )

SyntaxError: EOL while scanning string literal (<ipython-input-13-1e43f085f2ed>, line 1)

In [40]:
pd.Period(data['D3N'], fuzzy=True)

TypeError: __init__() got an unexpected keyword argument 'fuzzy'

In [126]:
if 'trimeste' in data['D3N'][4]:
    data['D3N'][4].replace('trimestre', 'quarter')
data['D3N'][4]

u'2\xba trimestre 2016'

In [47]:
print '数据来源：巴西国家地理统计局'

数据来源：巴西国家地理统计局

In [7]:
print '二、失业率'

二、失业率

In [9]:
print '三、物价水平'

三、物价水平

In [10]:
print '四、汇率'

四、汇率

In [11]:
print '五、大宗产品价格'

五、大宗产品价格

粮食产量
石油产量
糖产量
价格